html,body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left top, #09e2ed, #00ff9e);
}
/*
.calc{
    width: 250px;
    height: 400px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 5px solid white;
    position: relative;
top: 50%;
left: 50%;
    transform: translate(-50%,-50%);
}
*/
.screen{
    width: 60%;
    height:50px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
    background:coral;
    border-radius: 10px;
    border: 5px solid white;
    box-sizing: border-box;
color: white;
}
.bn{
    width: 75px;
    height: 55px;
    margin: 2px;
    padding: 10px;
    background: none;
    border-radius: 4px;
    border: 5px solid white;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
}
.bn:hover{
    transform: scale(1.08);
    transition: 5s;
}